@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

div#inicio-tab{
  max-width: 100vw;
}

div.hero-overlap-text{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  height: 90vh;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 31, 97, 0.1)), url("../images/home-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

div.hero-overlap-text>div>p{
  font-family: 'Poppins', sans-serif;
  color:white;
  font-size: 64px;
  background: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0.3));
  border-top-left-radius: 25px;
  text-align: left;
  padding: 15px;
  animation: text-slide 1s forwards;
  transform:translateX(-200%);
}

div.hero-logo {
  width: 60vw;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.0001));
  padding: 45px;
  border-top-left-radius: 25px;
  animation: image-apperance 3s none;
}

div.hero-logo > img{
  max-height: auto;
  object-fit: contain;
  position: relative;
}

@keyframes image-apperance {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes text-slide {
  to {
    transform:translateX(0%);
  }
}

@media screen and (min-width: 1080px) {
  div.hero-overlap-text>div>p{
    font-size: 36px;
    background: linear-gradient(90deg, rgba(0,0,0,0.7), rgba(0,0,0,0.5));
  }
  div.hero-logo >img {
    width: 60vw;
  }
}

@media screen and (max-width: 810px) {
  div.hero-overlap-text{
    flex-direction: column;
  }
  div.hero-overlap-text>div>p{
    font-size: 36px;
  }
  div.hero-logo >img {
    width: 70vw;
  }

  div.hero-logo{
    max-width: 100vw;
  }
}
