div#productos-tab{
  text-align: center;
  background-image: url('../images/products-background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div#productos-tab > div.products-header{
  /*display: flex;*/
  padding: 50px;
  align-items: center;
  justify-content: space-evenly;
}

.product-detail{
  background-color: white;
}

/* Hover for text on 360° images */
.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: rgba(0, 0, 0, 0.50);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 2px;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 20%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}
/* End of hover for text on 360° images */

@media screen and (max-width: 480px) {
  div#productos-tab > hr{
    color: rgba(0, 0, 0, 0.10);
    width: 75vw;
    margin: 45px auto;
  }

  div#productos-tab > div > img{
    width: 80vw;
    height: auto;
  }

  div.product-detail > h1{
    color: gray;
    font-size: 28px;
    font-family: var(--raleway);
  }


  div.product-detail > div{
    display: flex;
    flex-direction: column;
  }

  div.product-detail > div > div > iframe{
    border: none;
    background-repeat: no-repeat;
    width: 95vw;
    /*height: 45vh; */
  }

  div.product-detail > div > p{
    color: rgb(43, 43, 43);
    font-size: 16px;
    font-family: var(--raleway);
    width: 85vw;
    padding: 25px 10px;
    text-align: left;
    align-items: center;
  }

  div.product-detail > div > p > strong{
    color: var(--dark-blue);
  }
}
@media screen and (max-width: 820px) {
  div#productos-tab > hr{
    color: rgba(0, 0, 0, 0.10);
    width: 75vw;
    margin: 45px auto;
  }

  div.product-detail > h1{
    color: gray;
    font-size: 28px;
    font-family: var(--raleway);
    padding: 25px;
    /*position: absolute;*/
    top: -5px;
    /*right: 270px;*/
  }


  div.product-detail > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  div.product-detail > div > div > iframe{
    border: none;
    background-repeat: no-repeat;
    width: 95vw;
    height: 65vh;
  }

  div.product-detail > div > p{
    color: rgb(43, 43, 43);
    font-size: 18px;
    font-family: var(--raleway);
    width: 85vw;
    padding: 45px 10px;
    text-align: left;
    align-items: center;
  }

  div.product-detail > div > p > strong{
    color: var(--dark-blue);
  }

}
@media screen and (min-width: 1080px) {
   div#productos-tab > div > img{
    width: 25vw;
    height: auto;
    margin-top: 150px;
  }

  div#productos-tab > hr{
    color: rgba(0, 0, 0, 0.10);
    width: 75vw;
    margin: 45px auto;
  }

  div.product-detail > h1{
    color: gray;
    font-size: 28px;
    font-family: var(--raleway);
    padding: 90px 0px 0px 0px;
  }


  div.product-detail > div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  div.product-detail > div > div > iframe{
    border: none;
    background-repeat: no-repeat;
    /* width: 30vw;
    height: 96vh; */
  }

  div.product-detail > div > p{
    color: rgb(43, 43, 43);
    font-size: 15px;
    font-family: var(--raleway);
    width: 40vw;
    padding: 50px;
    text-align: left;
    align-items: center;
  }

  div.product-detail > div > p > strong{
    color: var(--dark-blue);
  }
}
.responsive {
  width: 100%;
  height: auto;
}
