@import "./navbar.css";
@import "./home.css";
@import "./about_us.css";
@import "./products.css";
@import "./services.css";
@import "./footer.css";

#scrollUp{
  position: fixed;
  right: 80px;
  bottom: 10px;
  width: 30px;
  cursor: pointer;
}
